body {
  font-family: 'Poppins', sans-serif;
  background: #ece5dd;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
/* Bandeau supérieur */
.header {
  width: 100%;
  background: #ff6600;
  color: white;
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
}

.header .btn {
  color: white;
  text-decoration: none;
  background: #e65c00;
  padding: 10px 16px;
  border-radius: 8px;
}
.flex{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-container {
  margin-bottom: 0px;
  background: #fff;
  width: 500px;
  max-width: 96%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  overflow: hidden;
}

.chat-header {
  background: #ff6600;
  color: #fff;
  padding: 14px 20px;
  font-size: 18px;
}

.message-box {
  flex: 1;
  padding: 12px;
  overflow-y: auto;
  background: #ece5dd;
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 75%;
  padding: 8px 12px;
  margin: 5px 0;
  border-radius: 8px;
  display: inline-block;
  word-wrap: break-word;
  position: relative;
}

.message-agent {
  align-self: flex-end;
  background: #f5b404;
  text-align: left;
  border-radius: 8px 0 8px 8px;
}

.message-client {
  align-self: flex-start;
  background: #fff;
  text-align: left;
  border-radius: 0 8px 8px 8px;
}

.message small {
  display: block;
  font-size: 11px;
  color: #555;
  margin-top: 4px;
  text-align: right;
}

/* Formulaire fixé en bas */
.form-message {
  display: flex;
  padding: 10px;
  background: #f0f0f0;
  border-top: 1px solid #ccc;
}

.form-message textarea {
  flex: 1;
  resize: none;
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 14px;
  height: 40px;
  max-height: 80px;
  overflow-y: auto;
}

.form-message button {
  background-color: #e74c3c;
  /*background: #25D366;*/
  color: white;
  padding: 0 18px;
  margin-left: 8px;
  border: none;
  border-radius: 50%;
  height: 42px;
  width: 42px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.form-message button:hover {
  background: #ff6600;
}

.message-box::-webkit-scrollbar {
  width: 6px;
}

.message-box::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}
