
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Poppins:wght@400;600;800&display=swap');
*{

    font-family: 'Poppins', sans-serif;
    /*font-family: 'Sofitel Script', Arial, sans-serif;*/
}

.bloquer{
    background-color: #e65c00;
    color: #fff;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;

}

.bloquer .menu{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 30px;
}
.bloquer .menu ul{
    width: 300px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.bloquer .menu ul a:hover{
    color: orange;
}
.bloquer .menu ul a{
    color: #fff;
    text-decoration: none;
}

.flex{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.flex .bouton button{
    height: 35px;
    border-radius: 15px;
    width: 150px;
    border: none;
    background-color: orange;
    cursor: pointer;
}

.haut-bas h1{
    margin-top: 60px;
    margin-left: 5px;
}
.position{
    display: flex;
    justify-content: start;
}





 body {
      font-family: 'Poppins', sans-serif;
    }
    .gallery {
      width: 85%;
      margin: 0 auto;
      text-align: center;
    }
    .main-image-container {
      position: relative;
    }
    .main-image {
      width: 100%;
      height: 85vh;
      object-fit: cover;
      border-radius: 10px;
    }


    /*.main-image {
      width: 100%;
      height: 85vh;
      border-radius: 10px;
    }*/
    .thumbnails {
      display: flex;
      overflow-x: auto;
      margin-top: 10px;
      justify-content: center;
    }
    .thumbnail {
     flex: 0 0 auto;
     width: 100px;
     height: 60px;
     margin: 5px;
     opacity: 0.7;
     cursor: pointer;
     border-radius: 5px;
     object-fit: cover;
    }

    /*.thumbnail {
      flex: 0 0 auto;
      width: 100px;
      height: 60px;
      margin: 5px;
      opacity: 0.6;
      cursor: pointer;
      border-radius: 5px;
    }*/
    .thumbnail:hover {
      opacity: 1;
    }
    .arrow {
      cursor: pointer;
      font-size: 2em;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 0 12px;
      z-index: 1000;
    }
    .arrow-left {
      left: 0;
    }
    .arrow-right {
      right: 0;
    }
    .propriete-details {
      width: 85%;
      margin: 30px auto;
      background: #f9f9f9;
      padding: 20px;
      border-radius: 10px;
    }
    .propriete-details h2 {
      margin-top: 0;
    }
    .btn {
      display: inline-block;
      background: #ff6600;
      color: white;
      padding: 10px 16px;
      text-decoration: none;
      border-radius: 8px;
      margin: 5px 5px 0;
    }
    .btn:hover {
      background: #e65c00;
    }
    .favoris-btn {
      background: #e74c3c;
    }
    .favoris-btn:hover {
      background: #c0392b;
    }

