/* =====================
   STYLE GLOBAL DE LA PAGE
   ===================== */

body {
  font-family: 'Arial', sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

/* =====================
   CONTENEUR DU FORMULAIRE
   ===================== */

.form-container {
  
  margin-top: 60px;
  background: #ffffff;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 0 20px rgba(0,0,0,0.08);
  width: 400px;
  margin: 60px auto;
  text-align: center;
}

h2 {
  color: #333;
  margin-bottom: 25px;
}

/* =====================
   BOUTONS DU MENU
   ===================== */

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.button-group button {
  padding: 12px 20px;
  border: none;
  background: #ff6600;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.button-group button:hover {
  background: #e65c00;
}

/* =====================
   FORMULAIRES CACHÉS
   ===================== */

.form-block {
  margin-top: 20px;
}

/* =====================
   CHAMPS DE FORMULAIRES
   ===================== */

input, select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 14px;
}

input[type="file"] {
  padding: 5px;
}

button[type="submit"] {
  background: #ff6600;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 12px;
  cursor: pointer;
  transition: 0.3s;
}

button[type="submit"]:hover {
  background: #e65c00;
}

/* =====================
   MESSAGES D'ALERTE
   ===================== */

.message {
  margin-top: 20px;
  padding: 12px;
  background: #ffefc0;
  border: 1px solid #ffc107;
  color: #7a5600;
  border-radius: 8px;
  font-weight: bold;
}

buttom{
  margin-top: 20px;
  padding: 0px;
  background: #ffefc0;
  border: 1px solid #ffc107;
  color: #7a5600;
  border-radius: 8px;
  font-weight: bold;
}


