
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Poppins:wght@400;600;800&display=swap');
*{

    font-family: 'Poppins', sans-serif;
    /*font-family: 'Sofitel Script', Arial, sans-serif;*/
}

.bloquer{
    background-color: black;
    color: #fff;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;

}

.bloquer .menu{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 30px;
}
.bloquer .menu ul{
    width: 300px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.bloquer .menu ul a:hover{
    color: orange;
}
.bloquer .menu ul a{
    color: #fff;
    text-decoration: none;
}

.flex{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.flex .bouton button{
    height: 35px;
    border-radius: 15px;
    width: 150px;
    border: none;
    background-color: orange;
}

.haut-bas h1{
    margin-top: 60px;
    margin-left: 5px;
}
.position{
    display: flex;
    justify-content: start;
}


/*les images*/
.gallery {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}
.main-image-container {
    position: relative;
}
.main-image {
    width: 100%;
    height: 90vh;
    border-radius: 10px;
}
.thumbnails {
    display: flex;
    overflow-x: auto;
    margin-top: 10px;
    justify-content: center;
}
.thumbnail {
    flex: 0 0 auto;
    width: 100px;
    height: 60px;
    margin: 5px;
    opacity: 0.6;
    cursor: pointer;
}
.thumbnail:hover {
    opacity: 1;
}
.arrow {
    cursor: pointer;
    font-size: 2em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 10px;
    z-index: 1000;
}
.arrow-left {
    left: 0;
}
.arrow-right {
    right: 0;
}


.reservation{
    background-color: rgb(240, 239, 239);
    margin-left: 7%;
    border-radius: 10px;
    height: 200px;
    width: 81%;
    margin-top: 20px;
    padding: 30px;
}

.reservation .form form{
    display: flex;
    justify-content: space-around;
}

.reservation .form form input[type="date"]{
    height: 40px;
    border-radius: 10px;
    width: 200px;
}
.reservation .form form input[type="number"]{
    height: 40px;
    border-radius: 10px;
    width: 200px;
}
.reservation .form form input[type="submit"]{
    height: 40px;
    border-radius: 10px;
    width: 100px;
    background-color: #fff;
    margin-top: 30px;
}

.reservation .gras{
    margin-top: -10px;
    font-weight: bold;
}

