/*@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Kaushan+Script&family=Poppins:wght@500&display=swap');*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#a-propos {
    height: 100vh;
    margin: 0 10%;
}
.tittle-section {
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: bold;
    color: #675afe;
    font-size: 25px;
}
.sub-tittle-section {
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
}
.description-photo  {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    height: 358px;
}
/*.description-photo .desc {
    width: 60%;
}*/
.description-photo .desc h2 {
    text-align: center;
    margin: 50px 0;
}
.list-services {
    display: flex;
    justify-content:space-between ;
    width: 100%;
}
.service {
    width: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    box-shadow: 0 0 26px rgba(0,0,0,0.1);
    border-radius: 20px;
    height: 100%;
    transition: 0.5s;
    cursor: pointer;
}
.service i {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 26 rgba(0,0,0,0.1);
    border: 2px solid #ff6600;
    border-radius: 50%;
    color: #ff6600;
}
.service img{
    width: 80px;

}
.service p {
    margin-top: 25px;
}
.service:hover {
    background-color: #ff6600;
}
.service:hover i {
    background-color: #fff;
    transition: 0.5s;
}
.service:hover p {
    color: #fff;
}
.description-photo img {
    width: 28%;
    border-radius: 20px;
}
.dev{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.menu{
    display: flex;
    justify-content: right;
    
}
footer{
    background-color: #ff6600;
    text-align: center;
    padding: 10px 0;
    color: #fff;

}

a{
    text-decoration: none;
    background-color: #675afe;
}



