body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu ul li {
    position: relative;
    background-color: #34495e;
}

.menu ul li a {
    display: block;
    padding: 16px 20px;
    color: rgb(211, 210, 215);
    text-decoration: none;
    transition: background-color 0.3s;
}

.menu ul li a:hover {
    background-color: #ff6600;
}

/* Sous-menus cachés par défaut */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #34495e;
    min-width: 180px;
    z-index: 1;
    flex-direction: column;
    border-radius: 8px;
}

.dropdown-content {
    color: azure;
}

.dropdown-content li a {
    padding: 12px 16px;
    color: white;
    display: block;
    text-decoration: none;
}

.dropdown-content li a:hover {
    background-color: #1abc9c;
}

/* Affiche les sous-menus quand on survole le parent */
.dropdown:hover .dropdown-content {
    display: block;
    flex-direction: column;
}